<?php
/**
 * ImageApi
 * PHP version 5
 *
 * @category Class
 * @package  Piurafunk\Docker
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * Docker Engine API
 *
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.  Most of the client's commands map directly to API endpoints (e.g. `docker ps` is `GET /containers/json`). The notable exception is running containers, which consists of several API calls.  # Errors  The API uses standard HTTP status codes to indicate the success or failure of the API call. The body of the response will be JSON in the following format:  ``` {   \"message\": \"page not found\" } ```  # Versioning  The API is usually changed in each release, so API calls are versioned to ensure that clients don't break. To lock to a specific version of the API, you prefix the URL with its version, for example, call `/v1.30/info` to use the v1.30 version of the `/info` endpoint. If the API version specified in the URL is not supported by the daemon, a HTTP `400 Bad Request` error message is returned.  If you omit the version-prefix, the current version of the API (v1.40) is used. For example, calling `/info` is the same as calling `/v1.40/info`. Using the API without a version-prefix is deprecated and will be removed in a future release.  Engine releases in the near future should support this version of the API, so your client will continue to work even if it is talking to a newer Engine.  The API uses an open schema model, which means server may add extra properties to responses. Likewise, the server will ignore any extra query parameters and request body properties. When you write clients, you need to ignore additional properties in responses to ensure they do not break when talking to newer daemons.   # Authentication  Authentication for registries is handled client side. The client has to send authentication details to various endpoints that need to communicate with registries, such as `POST /images/(name)/push`. These are sent as `X-Registry-Auth` header as a Base64 encoded (JSON) string with the following structure:  ``` {   \"username\": \"string\",   \"password\": \"string\",   \"email\": \"string\",   \"serveraddress\": \"string\" } ```  The `serveraddress` is a domain/IP without a protocol. Throughout this structure, double quotes are required.  If you have already got an identity token from the [`/auth` endpoint](#operation/SystemAuth), you can just pass this instead of credentials:  ``` {   \"identitytoken\": \"9cbaf023786cd7...\" } ```
 *
 * The version of the OpenAPI document: 1.40
 * 
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 4.2.3
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Piurafunk\Docker\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Piurafunk\Docker\ApiException;
use Piurafunk\Docker\Configuration;
use Piurafunk\Docker\HeaderSelector;
use Piurafunk\Docker\ObjectSerializer;

/**
 * ImageApi Class Doc Comment
 *
 * @category Class
 * @package  Piurafunk\Docker
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class ImageApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $host_index (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null,
        $host_index = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $host_index;
    }

    /**
     * Set the host index
     *
     * @param  int Host index (required)
     */
    public function setHostIndex($host_index)
    {
        $this->hostIndex = $host_index;
    }

    /**
     * Get the host index
     *
     * @return Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation buildPrune
     *
     * Delete builder cache
     *
     * @param  int $keepStorage Amount of disk space in bytes to keep for cache (optional)
     * @param  bool $all Remove all types of build cache (optional)
     * @param  string $filters A JSON encoded value of the filters (a &#x60;map[string][]string&#x60;) to process on the list of build cache objects. Available filters: - &#x60;until&#x3D;&lt;duration&gt;&#x60;: duration relative to daemon&#39;s time, during which build cache was not used, in Go&#39;s duration format (e.g., &#39;24h&#39;) - &#x60;id&#x3D;&lt;id&gt;&#x60; - &#x60;parent&#x3D;&lt;id&gt;&#x60; - &#x60;type&#x3D;&lt;string&gt;&#x60; - &#x60;description&#x3D;&lt;string&gt;&#x60; - &#x60;inuse&#x60; - &#x60;shared&#x60; - &#x60;private&#x60; (optional)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Piurafunk\Docker\Model\BuildPruneResponse|\Piurafunk\Docker\Model\ErrorResponse
     */
    public function buildPrune($keepStorage = null, $all = null, $filters = null)
    {
        list($response) = $this->buildPruneWithHttpInfo($keepStorage, $all, $filters);
        return $response;
    }

    /**
     * Operation buildPruneWithHttpInfo
     *
     * Delete builder cache
     *
     * @param  int $keepStorage Amount of disk space in bytes to keep for cache (optional)
     * @param  bool $all Remove all types of build cache (optional)
     * @param  string $filters A JSON encoded value of the filters (a &#x60;map[string][]string&#x60;) to process on the list of build cache objects. Available filters: - &#x60;until&#x3D;&lt;duration&gt;&#x60;: duration relative to daemon&#39;s time, during which build cache was not used, in Go&#39;s duration format (e.g., &#39;24h&#39;) - &#x60;id&#x3D;&lt;id&gt;&#x60; - &#x60;parent&#x3D;&lt;id&gt;&#x60; - &#x60;type&#x3D;&lt;string&gt;&#x60; - &#x60;description&#x3D;&lt;string&gt;&#x60; - &#x60;inuse&#x60; - &#x60;shared&#x60; - &#x60;private&#x60; (optional)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Piurafunk\Docker\Model\BuildPruneResponse|\Piurafunk\Docker\Model\ErrorResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function buildPruneWithHttpInfo($keepStorage = null, $all = null, $filters = null)
    {
        $request = $this->buildPruneRequest($keepStorage, $all, $filters);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            switch($statusCode) {
                case 200:
                    if ('\Piurafunk\Docker\Model\BuildPruneResponse' === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\Piurafunk\Docker\Model\BuildPruneResponse', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 500:
                    if ('\Piurafunk\Docker\Model\ErrorResponse' === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\Piurafunk\Docker\Model\ErrorResponse', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            $returnType = '\Piurafunk\Docker\Model\BuildPruneResponse';
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = (string) $responseBody;
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\BuildPruneResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation buildPruneAsync
     *
     * Delete builder cache
     *
     * @param  int $keepStorage Amount of disk space in bytes to keep for cache (optional)
     * @param  bool $all Remove all types of build cache (optional)
     * @param  string $filters A JSON encoded value of the filters (a &#x60;map[string][]string&#x60;) to process on the list of build cache objects. Available filters: - &#x60;until&#x3D;&lt;duration&gt;&#x60;: duration relative to daemon&#39;s time, during which build cache was not used, in Go&#39;s duration format (e.g., &#39;24h&#39;) - &#x60;id&#x3D;&lt;id&gt;&#x60; - &#x60;parent&#x3D;&lt;id&gt;&#x60; - &#x60;type&#x3D;&lt;string&gt;&#x60; - &#x60;description&#x3D;&lt;string&gt;&#x60; - &#x60;inuse&#x60; - &#x60;shared&#x60; - &#x60;private&#x60; (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function buildPruneAsync($keepStorage = null, $all = null, $filters = null)
    {
        return $this->buildPruneAsyncWithHttpInfo($keepStorage, $all, $filters)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation buildPruneAsyncWithHttpInfo
     *
     * Delete builder cache
     *
     * @param  int $keepStorage Amount of disk space in bytes to keep for cache (optional)
     * @param  bool $all Remove all types of build cache (optional)
     * @param  string $filters A JSON encoded value of the filters (a &#x60;map[string][]string&#x60;) to process on the list of build cache objects. Available filters: - &#x60;until&#x3D;&lt;duration&gt;&#x60;: duration relative to daemon&#39;s time, during which build cache was not used, in Go&#39;s duration format (e.g., &#39;24h&#39;) - &#x60;id&#x3D;&lt;id&gt;&#x60; - &#x60;parent&#x3D;&lt;id&gt;&#x60; - &#x60;type&#x3D;&lt;string&gt;&#x60; - &#x60;description&#x3D;&lt;string&gt;&#x60; - &#x60;inuse&#x60; - &#x60;shared&#x60; - &#x60;private&#x60; (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function buildPruneAsyncWithHttpInfo($keepStorage = null, $all = null, $filters = null)
    {
        $returnType = '\Piurafunk\Docker\Model\BuildPruneResponse';
        $request = $this->buildPruneRequest($keepStorage, $all, $filters);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'buildPrune'
     *
     * @param  int $keepStorage Amount of disk space in bytes to keep for cache (optional)
     * @param  bool $all Remove all types of build cache (optional)
     * @param  string $filters A JSON encoded value of the filters (a &#x60;map[string][]string&#x60;) to process on the list of build cache objects. Available filters: - &#x60;until&#x3D;&lt;duration&gt;&#x60;: duration relative to daemon&#39;s time, during which build cache was not used, in Go&#39;s duration format (e.g., &#39;24h&#39;) - &#x60;id&#x3D;&lt;id&gt;&#x60; - &#x60;parent&#x3D;&lt;id&gt;&#x60; - &#x60;type&#x3D;&lt;string&gt;&#x60; - &#x60;description&#x3D;&lt;string&gt;&#x60; - &#x60;inuse&#x60; - &#x60;shared&#x60; - &#x60;private&#x60; (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function buildPruneRequest($keepStorage = null, $all = null, $filters = null)
    {

        $resourcePath = '/build/prune';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($keepStorage !== null) {
            $queryParams['keep-storage'] = ObjectSerializer::toQueryValue($keepStorage);
        }
        // query params
        if ($all !== null) {
            $queryParams['all'] = ObjectSerializer::toQueryValue($all);
        }
        // query params
        if ($filters !== null) {
            $queryParams['filters'] = ObjectSerializer::toQueryValue($filters);
        }


        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            if ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($_tempBody));
            } else {
                $httpBody = $_tempBody;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation imageBuild
     *
     * Build an image
     *
     * @param  string $dockerfile Path within the build context to the &#x60;Dockerfile&#x60;. This is ignored if &#x60;remote&#x60; is specified and points to an external &#x60;Dockerfile&#x60;. (optional, default to 'Dockerfile')
     * @param  string $t A name and optional tag to apply to the image in the &#x60;name:tag&#x60; format. If you omit the tag the default &#x60;latest&#x60; value is assumed. You can provide several &#x60;t&#x60; parameters. (optional)
     * @param  string $extrahosts Extra hosts to add to /etc/hosts (optional)
     * @param  string $remote A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called &#x60;Dockerfile&#x60; and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the &#x60;dockerfile&#x60; parameter is also specified, there must be a file with the corresponding path inside the tarball. (optional)
     * @param  bool $q Suppress verbose build output. (optional, default to false)
     * @param  bool $nocache Do not use the cache when building the image. (optional, default to false)
     * @param  string $cachefrom JSON array of images used for build cache resolution. (optional)
     * @param  string $pull Attempt to pull the image even if an older image exists locally. (optional)
     * @param  bool $rm Remove intermediate containers after a successful build. (optional, default to true)
     * @param  bool $forcerm Always remove intermediate containers, even upon failure. (optional, default to false)
     * @param  int $memory Set memory limit for build. (optional)
     * @param  int $memswap Total memory (memory + swap). Set as &#x60;-1&#x60; to disable swap. (optional)
     * @param  int $cpushares CPU shares (relative weight). (optional)
     * @param  string $cpusetcpus CPUs in which to allow execution (e.g., &#x60;0-3&#x60;, &#x60;0,1&#x60;). (optional)
     * @param  int $cpuperiod The length of a CPU period in microseconds. (optional)
     * @param  int $cpuquota Microseconds of CPU time that the container can get in a CPU period. (optional)
     * @param  string $buildargs JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the &#x60;Dockerfile&#x60; RUN instruction, or for variable expansion in other &#x60;Dockerfile&#x60; instructions. This is not meant for passing secret values.  For example, the build arg &#x60;FOO&#x3D;bar&#x60; would become &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; in JSON. This would result in the the query parameter &#x60;buildargs&#x3D;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60;. Note that &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) (optional)
     * @param  int $shmsize Size of &#x60;/dev/shm&#x60; in bytes. The size must be greater than 0. If omitted the system uses 64MB. (optional)
     * @param  bool $squash Squash the resulting images layers into a single layer. *(Experimental release only.)* (optional)
     * @param  string $labels Arbitrary key/value labels to set on the image, as a JSON map of string pairs. (optional)
     * @param  string $networkmode Sets the networking mode for the run commands during build. Supported standard values are: &#x60;bridge&#x60;, &#x60;host&#x60;, &#x60;none&#x60;, and &#x60;container:&lt;name|id&gt;&#x60;. Any other value is taken as a custom network&#39;s name or ID to which this container should connect to. (optional)
     * @param  string $contentType contentType (optional, default to 'application/x-tar')
     * @param  string $xRegistryConfig This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  &#x60;&#x60;&#x60; {   \&quot;docker.example.com\&quot;: {     \&quot;username\&quot;: \&quot;janedoe\&quot;,     \&quot;password\&quot;: \&quot;hunter2\&quot;   },   \&quot;https://index.docker.io/v1/\&quot;: {     \&quot;username\&quot;: \&quot;mobydock\&quot;,     \&quot;password\&quot;: \&quot;conta1n3rize14\&quot;   } } &#x60;&#x60;&#x60;  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a &#x60;https://&#x60; prefix and a &#x60;/v1/&#x60; suffix even though Docker will prefer to use the v2 registry API. (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $target Target build stage (optional)
     * @param  string $outputs BuildKit output configuration (optional)
     * @param  \SplFileObject $inputStream A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz. (optional)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return void
     */
    public function imageBuild($dockerfile = 'Dockerfile', $t = null, $extrahosts = null, $remote = null, $q = false, $nocache = false, $cachefrom = null, $pull = null, $rm = true, $forcerm = false, $memory = null, $memswap = null, $cpushares = null, $cpusetcpus = null, $cpuperiod = null, $cpuquota = null, $buildargs = null, $shmsize = null, $squash = null, $labels = null, $networkmode = null, $contentType = 'application/x-tar', $xRegistryConfig = null, $platform = null, $target = null, $outputs = null, $inputStream = null)
    {
        $this->imageBuildWithHttpInfo($dockerfile, $t, $extrahosts, $remote, $q, $nocache, $cachefrom, $pull, $rm, $forcerm, $memory, $memswap, $cpushares, $cpusetcpus, $cpuperiod, $cpuquota, $buildargs, $shmsize, $squash, $labels, $networkmode, $contentType, $xRegistryConfig, $platform, $target, $outputs, $inputStream);
    }

    /**
     * Operation imageBuildWithHttpInfo
     *
     * Build an image
     *
     * @param  string $dockerfile Path within the build context to the &#x60;Dockerfile&#x60;. This is ignored if &#x60;remote&#x60; is specified and points to an external &#x60;Dockerfile&#x60;. (optional, default to 'Dockerfile')
     * @param  string $t A name and optional tag to apply to the image in the &#x60;name:tag&#x60; format. If you omit the tag the default &#x60;latest&#x60; value is assumed. You can provide several &#x60;t&#x60; parameters. (optional)
     * @param  string $extrahosts Extra hosts to add to /etc/hosts (optional)
     * @param  string $remote A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called &#x60;Dockerfile&#x60; and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the &#x60;dockerfile&#x60; parameter is also specified, there must be a file with the corresponding path inside the tarball. (optional)
     * @param  bool $q Suppress verbose build output. (optional, default to false)
     * @param  bool $nocache Do not use the cache when building the image. (optional, default to false)
     * @param  string $cachefrom JSON array of images used for build cache resolution. (optional)
     * @param  string $pull Attempt to pull the image even if an older image exists locally. (optional)
     * @param  bool $rm Remove intermediate containers after a successful build. (optional, default to true)
     * @param  bool $forcerm Always remove intermediate containers, even upon failure. (optional, default to false)
     * @param  int $memory Set memory limit for build. (optional)
     * @param  int $memswap Total memory (memory + swap). Set as &#x60;-1&#x60; to disable swap. (optional)
     * @param  int $cpushares CPU shares (relative weight). (optional)
     * @param  string $cpusetcpus CPUs in which to allow execution (e.g., &#x60;0-3&#x60;, &#x60;0,1&#x60;). (optional)
     * @param  int $cpuperiod The length of a CPU period in microseconds. (optional)
     * @param  int $cpuquota Microseconds of CPU time that the container can get in a CPU period. (optional)
     * @param  string $buildargs JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the &#x60;Dockerfile&#x60; RUN instruction, or for variable expansion in other &#x60;Dockerfile&#x60; instructions. This is not meant for passing secret values.  For example, the build arg &#x60;FOO&#x3D;bar&#x60; would become &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; in JSON. This would result in the the query parameter &#x60;buildargs&#x3D;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60;. Note that &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) (optional)
     * @param  int $shmsize Size of &#x60;/dev/shm&#x60; in bytes. The size must be greater than 0. If omitted the system uses 64MB. (optional)
     * @param  bool $squash Squash the resulting images layers into a single layer. *(Experimental release only.)* (optional)
     * @param  string $labels Arbitrary key/value labels to set on the image, as a JSON map of string pairs. (optional)
     * @param  string $networkmode Sets the networking mode for the run commands during build. Supported standard values are: &#x60;bridge&#x60;, &#x60;host&#x60;, &#x60;none&#x60;, and &#x60;container:&lt;name|id&gt;&#x60;. Any other value is taken as a custom network&#39;s name or ID to which this container should connect to. (optional)
     * @param  string $contentType (optional, default to 'application/x-tar')
     * @param  string $xRegistryConfig This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  &#x60;&#x60;&#x60; {   \&quot;docker.example.com\&quot;: {     \&quot;username\&quot;: \&quot;janedoe\&quot;,     \&quot;password\&quot;: \&quot;hunter2\&quot;   },   \&quot;https://index.docker.io/v1/\&quot;: {     \&quot;username\&quot;: \&quot;mobydock\&quot;,     \&quot;password\&quot;: \&quot;conta1n3rize14\&quot;   } } &#x60;&#x60;&#x60;  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a &#x60;https://&#x60; prefix and a &#x60;/v1/&#x60; suffix even though Docker will prefer to use the v2 registry API. (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $target Target build stage (optional)
     * @param  string $outputs BuildKit output configuration (optional)
     * @param  \SplFileObject $inputStream A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz. (optional)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function imageBuildWithHttpInfo($dockerfile = 'Dockerfile', $t = null, $extrahosts = null, $remote = null, $q = false, $nocache = false, $cachefrom = null, $pull = null, $rm = true, $forcerm = false, $memory = null, $memswap = null, $cpushares = null, $cpusetcpus = null, $cpuperiod = null, $cpuquota = null, $buildargs = null, $shmsize = null, $squash = null, $labels = null, $networkmode = null, $contentType = 'application/x-tar', $xRegistryConfig = null, $platform = null, $target = null, $outputs = null, $inputStream = null)
    {
        $request = $this->imageBuildRequest($dockerfile, $t, $extrahosts, $remote, $q, $nocache, $cachefrom, $pull, $rm, $forcerm, $memory, $memswap, $cpushares, $cpusetcpus, $cpuperiod, $cpuquota, $buildargs, $shmsize, $squash, $labels, $networkmode, $contentType, $xRegistryConfig, $platform, $target, $outputs, $inputStream);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 400:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation imageBuildAsync
     *
     * Build an image
     *
     * @param  string $dockerfile Path within the build context to the &#x60;Dockerfile&#x60;. This is ignored if &#x60;remote&#x60; is specified and points to an external &#x60;Dockerfile&#x60;. (optional, default to 'Dockerfile')
     * @param  string $t A name and optional tag to apply to the image in the &#x60;name:tag&#x60; format. If you omit the tag the default &#x60;latest&#x60; value is assumed. You can provide several &#x60;t&#x60; parameters. (optional)
     * @param  string $extrahosts Extra hosts to add to /etc/hosts (optional)
     * @param  string $remote A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called &#x60;Dockerfile&#x60; and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the &#x60;dockerfile&#x60; parameter is also specified, there must be a file with the corresponding path inside the tarball. (optional)
     * @param  bool $q Suppress verbose build output. (optional, default to false)
     * @param  bool $nocache Do not use the cache when building the image. (optional, default to false)
     * @param  string $cachefrom JSON array of images used for build cache resolution. (optional)
     * @param  string $pull Attempt to pull the image even if an older image exists locally. (optional)
     * @param  bool $rm Remove intermediate containers after a successful build. (optional, default to true)
     * @param  bool $forcerm Always remove intermediate containers, even upon failure. (optional, default to false)
     * @param  int $memory Set memory limit for build. (optional)
     * @param  int $memswap Total memory (memory + swap). Set as &#x60;-1&#x60; to disable swap. (optional)
     * @param  int $cpushares CPU shares (relative weight). (optional)
     * @param  string $cpusetcpus CPUs in which to allow execution (e.g., &#x60;0-3&#x60;, &#x60;0,1&#x60;). (optional)
     * @param  int $cpuperiod The length of a CPU period in microseconds. (optional)
     * @param  int $cpuquota Microseconds of CPU time that the container can get in a CPU period. (optional)
     * @param  string $buildargs JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the &#x60;Dockerfile&#x60; RUN instruction, or for variable expansion in other &#x60;Dockerfile&#x60; instructions. This is not meant for passing secret values.  For example, the build arg &#x60;FOO&#x3D;bar&#x60; would become &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; in JSON. This would result in the the query parameter &#x60;buildargs&#x3D;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60;. Note that &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) (optional)
     * @param  int $shmsize Size of &#x60;/dev/shm&#x60; in bytes. The size must be greater than 0. If omitted the system uses 64MB. (optional)
     * @param  bool $squash Squash the resulting images layers into a single layer. *(Experimental release only.)* (optional)
     * @param  string $labels Arbitrary key/value labels to set on the image, as a JSON map of string pairs. (optional)
     * @param  string $networkmode Sets the networking mode for the run commands during build. Supported standard values are: &#x60;bridge&#x60;, &#x60;host&#x60;, &#x60;none&#x60;, and &#x60;container:&lt;name|id&gt;&#x60;. Any other value is taken as a custom network&#39;s name or ID to which this container should connect to. (optional)
     * @param  string $contentType (optional, default to 'application/x-tar')
     * @param  string $xRegistryConfig This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  &#x60;&#x60;&#x60; {   \&quot;docker.example.com\&quot;: {     \&quot;username\&quot;: \&quot;janedoe\&quot;,     \&quot;password\&quot;: \&quot;hunter2\&quot;   },   \&quot;https://index.docker.io/v1/\&quot;: {     \&quot;username\&quot;: \&quot;mobydock\&quot;,     \&quot;password\&quot;: \&quot;conta1n3rize14\&quot;   } } &#x60;&#x60;&#x60;  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a &#x60;https://&#x60; prefix and a &#x60;/v1/&#x60; suffix even though Docker will prefer to use the v2 registry API. (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $target Target build stage (optional)
     * @param  string $outputs BuildKit output configuration (optional)
     * @param  \SplFileObject $inputStream A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function imageBuildAsync($dockerfile = 'Dockerfile', $t = null, $extrahosts = null, $remote = null, $q = false, $nocache = false, $cachefrom = null, $pull = null, $rm = true, $forcerm = false, $memory = null, $memswap = null, $cpushares = null, $cpusetcpus = null, $cpuperiod = null, $cpuquota = null, $buildargs = null, $shmsize = null, $squash = null, $labels = null, $networkmode = null, $contentType = 'application/x-tar', $xRegistryConfig = null, $platform = null, $target = null, $outputs = null, $inputStream = null)
    {
        return $this->imageBuildAsyncWithHttpInfo($dockerfile, $t, $extrahosts, $remote, $q, $nocache, $cachefrom, $pull, $rm, $forcerm, $memory, $memswap, $cpushares, $cpusetcpus, $cpuperiod, $cpuquota, $buildargs, $shmsize, $squash, $labels, $networkmode, $contentType, $xRegistryConfig, $platform, $target, $outputs, $inputStream)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation imageBuildAsyncWithHttpInfo
     *
     * Build an image
     *
     * @param  string $dockerfile Path within the build context to the &#x60;Dockerfile&#x60;. This is ignored if &#x60;remote&#x60; is specified and points to an external &#x60;Dockerfile&#x60;. (optional, default to 'Dockerfile')
     * @param  string $t A name and optional tag to apply to the image in the &#x60;name:tag&#x60; format. If you omit the tag the default &#x60;latest&#x60; value is assumed. You can provide several &#x60;t&#x60; parameters. (optional)
     * @param  string $extrahosts Extra hosts to add to /etc/hosts (optional)
     * @param  string $remote A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called &#x60;Dockerfile&#x60; and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the &#x60;dockerfile&#x60; parameter is also specified, there must be a file with the corresponding path inside the tarball. (optional)
     * @param  bool $q Suppress verbose build output. (optional, default to false)
     * @param  bool $nocache Do not use the cache when building the image. (optional, default to false)
     * @param  string $cachefrom JSON array of images used for build cache resolution. (optional)
     * @param  string $pull Attempt to pull the image even if an older image exists locally. (optional)
     * @param  bool $rm Remove intermediate containers after a successful build. (optional, default to true)
     * @param  bool $forcerm Always remove intermediate containers, even upon failure. (optional, default to false)
     * @param  int $memory Set memory limit for build. (optional)
     * @param  int $memswap Total memory (memory + swap). Set as &#x60;-1&#x60; to disable swap. (optional)
     * @param  int $cpushares CPU shares (relative weight). (optional)
     * @param  string $cpusetcpus CPUs in which to allow execution (e.g., &#x60;0-3&#x60;, &#x60;0,1&#x60;). (optional)
     * @param  int $cpuperiod The length of a CPU period in microseconds. (optional)
     * @param  int $cpuquota Microseconds of CPU time that the container can get in a CPU period. (optional)
     * @param  string $buildargs JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the &#x60;Dockerfile&#x60; RUN instruction, or for variable expansion in other &#x60;Dockerfile&#x60; instructions. This is not meant for passing secret values.  For example, the build arg &#x60;FOO&#x3D;bar&#x60; would become &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; in JSON. This would result in the the query parameter &#x60;buildargs&#x3D;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60;. Note that &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) (optional)
     * @param  int $shmsize Size of &#x60;/dev/shm&#x60; in bytes. The size must be greater than 0. If omitted the system uses 64MB. (optional)
     * @param  bool $squash Squash the resulting images layers into a single layer. *(Experimental release only.)* (optional)
     * @param  string $labels Arbitrary key/value labels to set on the image, as a JSON map of string pairs. (optional)
     * @param  string $networkmode Sets the networking mode for the run commands during build. Supported standard values are: &#x60;bridge&#x60;, &#x60;host&#x60;, &#x60;none&#x60;, and &#x60;container:&lt;name|id&gt;&#x60;. Any other value is taken as a custom network&#39;s name or ID to which this container should connect to. (optional)
     * @param  string $contentType (optional, default to 'application/x-tar')
     * @param  string $xRegistryConfig This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  &#x60;&#x60;&#x60; {   \&quot;docker.example.com\&quot;: {     \&quot;username\&quot;: \&quot;janedoe\&quot;,     \&quot;password\&quot;: \&quot;hunter2\&quot;   },   \&quot;https://index.docker.io/v1/\&quot;: {     \&quot;username\&quot;: \&quot;mobydock\&quot;,     \&quot;password\&quot;: \&quot;conta1n3rize14\&quot;   } } &#x60;&#x60;&#x60;  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a &#x60;https://&#x60; prefix and a &#x60;/v1/&#x60; suffix even though Docker will prefer to use the v2 registry API. (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $target Target build stage (optional)
     * @param  string $outputs BuildKit output configuration (optional)
     * @param  \SplFileObject $inputStream A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function imageBuildAsyncWithHttpInfo($dockerfile = 'Dockerfile', $t = null, $extrahosts = null, $remote = null, $q = false, $nocache = false, $cachefrom = null, $pull = null, $rm = true, $forcerm = false, $memory = null, $memswap = null, $cpushares = null, $cpusetcpus = null, $cpuperiod = null, $cpuquota = null, $buildargs = null, $shmsize = null, $squash = null, $labels = null, $networkmode = null, $contentType = 'application/x-tar', $xRegistryConfig = null, $platform = null, $target = null, $outputs = null, $inputStream = null)
    {
        $returnType = '';
        $request = $this->imageBuildRequest($dockerfile, $t, $extrahosts, $remote, $q, $nocache, $cachefrom, $pull, $rm, $forcerm, $memory, $memswap, $cpushares, $cpusetcpus, $cpuperiod, $cpuquota, $buildargs, $shmsize, $squash, $labels, $networkmode, $contentType, $xRegistryConfig, $platform, $target, $outputs, $inputStream);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'imageBuild'
     *
     * @param  string $dockerfile Path within the build context to the &#x60;Dockerfile&#x60;. This is ignored if &#x60;remote&#x60; is specified and points to an external &#x60;Dockerfile&#x60;. (optional, default to 'Dockerfile')
     * @param  string $t A name and optional tag to apply to the image in the &#x60;name:tag&#x60; format. If you omit the tag the default &#x60;latest&#x60; value is assumed. You can provide several &#x60;t&#x60; parameters. (optional)
     * @param  string $extrahosts Extra hosts to add to /etc/hosts (optional)
     * @param  string $remote A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called &#x60;Dockerfile&#x60; and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the &#x60;dockerfile&#x60; parameter is also specified, there must be a file with the corresponding path inside the tarball. (optional)
     * @param  bool $q Suppress verbose build output. (optional, default to false)
     * @param  bool $nocache Do not use the cache when building the image. (optional, default to false)
     * @param  string $cachefrom JSON array of images used for build cache resolution. (optional)
     * @param  string $pull Attempt to pull the image even if an older image exists locally. (optional)
     * @param  bool $rm Remove intermediate containers after a successful build. (optional, default to true)
     * @param  bool $forcerm Always remove intermediate containers, even upon failure. (optional, default to false)
     * @param  int $memory Set memory limit for build. (optional)
     * @param  int $memswap Total memory (memory + swap). Set as &#x60;-1&#x60; to disable swap. (optional)
     * @param  int $cpushares CPU shares (relative weight). (optional)
     * @param  string $cpusetcpus CPUs in which to allow execution (e.g., &#x60;0-3&#x60;, &#x60;0,1&#x60;). (optional)
     * @param  int $cpuperiod The length of a CPU period in microseconds. (optional)
     * @param  int $cpuquota Microseconds of CPU time that the container can get in a CPU period. (optional)
     * @param  string $buildargs JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the &#x60;Dockerfile&#x60; RUN instruction, or for variable expansion in other &#x60;Dockerfile&#x60; instructions. This is not meant for passing secret values.  For example, the build arg &#x60;FOO&#x3D;bar&#x60; would become &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; in JSON. This would result in the the query parameter &#x60;buildargs&#x3D;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60;. Note that &#x60;{\&quot;FOO\&quot;:\&quot;bar\&quot;}&#x60; should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) (optional)
     * @param  int $shmsize Size of &#x60;/dev/shm&#x60; in bytes. The size must be greater than 0. If omitted the system uses 64MB. (optional)
     * @param  bool $squash Squash the resulting images layers into a single layer. *(Experimental release only.)* (optional)
     * @param  string $labels Arbitrary key/value labels to set on the image, as a JSON map of string pairs. (optional)
     * @param  string $networkmode Sets the networking mode for the run commands during build. Supported standard values are: &#x60;bridge&#x60;, &#x60;host&#x60;, &#x60;none&#x60;, and &#x60;container:&lt;name|id&gt;&#x60;. Any other value is taken as a custom network&#39;s name or ID to which this container should connect to. (optional)
     * @param  string $contentType (optional, default to 'application/x-tar')
     * @param  string $xRegistryConfig This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  &#x60;&#x60;&#x60; {   \&quot;docker.example.com\&quot;: {     \&quot;username\&quot;: \&quot;janedoe\&quot;,     \&quot;password\&quot;: \&quot;hunter2\&quot;   },   \&quot;https://index.docker.io/v1/\&quot;: {     \&quot;username\&quot;: \&quot;mobydock\&quot;,     \&quot;password\&quot;: \&quot;conta1n3rize14\&quot;   } } &#x60;&#x60;&#x60;  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a &#x60;https://&#x60; prefix and a &#x60;/v1/&#x60; suffix even though Docker will prefer to use the v2 registry API. (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $target Target build stage (optional)
     * @param  string $outputs BuildKit output configuration (optional)
     * @param  \SplFileObject $inputStream A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function imageBuildRequest($dockerfile = 'Dockerfile', $t = null, $extrahosts = null, $remote = null, $q = false, $nocache = false, $cachefrom = null, $pull = null, $rm = true, $forcerm = false, $memory = null, $memswap = null, $cpushares = null, $cpusetcpus = null, $cpuperiod = null, $cpuquota = null, $buildargs = null, $shmsize = null, $squash = null, $labels = null, $networkmode = null, $contentType = 'application/x-tar', $xRegistryConfig = null, $platform = null, $target = null, $outputs = null, $inputStream = null)
    {

        $resourcePath = '/build';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($dockerfile !== null) {
            $queryParams['dockerfile'] = ObjectSerializer::toQueryValue($dockerfile);
        }
        // query params
        if ($t !== null) {
            $queryParams['t'] = ObjectSerializer::toQueryValue($t);
        }
        // query params
        if ($extrahosts !== null) {
            $queryParams['extrahosts'] = ObjectSerializer::toQueryValue($extrahosts);
        }
        // query params
        if ($remote !== null) {
            $queryParams['remote'] = ObjectSerializer::toQueryValue($remote);
        }
        // query params
        if ($q !== null) {
            $queryParams['q'] = ObjectSerializer::toQueryValue($q);
        }
        // query params
        if ($nocache !== null) {
            $queryParams['nocache'] = ObjectSerializer::toQueryValue($nocache);
        }
        // query params
        if ($cachefrom !== null) {
            $queryParams['cachefrom'] = ObjectSerializer::toQueryValue($cachefrom);
        }
        // query params
        if ($pull !== null) {
            $queryParams['pull'] = ObjectSerializer::toQueryValue($pull);
        }
        // query params
        if ($rm !== null) {
            $queryParams['rm'] = ObjectSerializer::toQueryValue($rm);
        }
        // query params
        if ($forcerm !== null) {
            $queryParams['forcerm'] = ObjectSerializer::toQueryValue($forcerm);
        }
        // query params
        if ($memory !== null) {
            $queryParams['memory'] = ObjectSerializer::toQueryValue($memory);
        }
        // query params
        if ($memswap !== null) {
            $queryParams['memswap'] = ObjectSerializer::toQueryValue($memswap);
        }
        // query params
        if ($cpushares !== null) {
            $queryParams['cpushares'] = ObjectSerializer::toQueryValue($cpushares);
        }
        // query params
        if ($cpusetcpus !== null) {
            $queryParams['cpusetcpus'] = ObjectSerializer::toQueryValue($cpusetcpus);
        }
        // query params
        if ($cpuperiod !== null) {
            $queryParams['cpuperiod'] = ObjectSerializer::toQueryValue($cpuperiod);
        }
        // query params
        if ($cpuquota !== null) {
            $queryParams['cpuquota'] = ObjectSerializer::toQueryValue($cpuquota);
        }
        // query params
        if ($buildargs !== null) {
            $queryParams['buildargs'] = ObjectSerializer::toQueryValue($buildargs);
        }
        // query params
        if ($shmsize !== null) {
            $queryParams['shmsize'] = ObjectSerializer::toQueryValue($shmsize);
        }
        // query params
        if ($squash !== null) {
            $queryParams['squash'] = ObjectSerializer::toQueryValue($squash);
        }
        // query params
        if ($labels !== null) {
            $queryParams['labels'] = ObjectSerializer::toQueryValue($labels);
        }
        // query params
        if ($networkmode !== null) {
            $queryParams['networkmode'] = ObjectSerializer::toQueryValue($networkmode);
        }
        // query params
        if ($platform !== null) {
            $queryParams['platform'] = ObjectSerializer::toQueryValue($platform);
        }
        // query params
        if ($target !== null) {
            $queryParams['target'] = ObjectSerializer::toQueryValue($target);
        }
        // query params
        if ($outputs !== null) {
            $queryParams['outputs'] = ObjectSerializer::toQueryValue($outputs);
        }
        // header params
        if ($contentType !== null) {
            $headerParams['Content-type'] = ObjectSerializer::toHeaderValue($contentType);
        }
        // header params
        if ($xRegistryConfig !== null) {
            $headerParams['X-Registry-Config'] = ObjectSerializer::toHeaderValue($xRegistryConfig);
        }


        // body params
        $_tempBody = null;
        if (isset($inputStream)) {
            $_tempBody = $inputStream;
        }

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['application/octet-stream']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            if ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($_tempBody));
            } else {
                $httpBody = $_tempBody;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation imageCommit
     *
     * Create a new image from a container
     *
     * @param  string $container The ID or name of the container to commit (optional)
     * @param  string $repo Repository name for the created image (optional)
     * @param  string $tag Tag name for the create image (optional)
     * @param  string $comment Commit message (optional)
     * @param  string $author Author of the image (e.g., &#x60;John Hannibal Smith &lt;hannibal@a-team.com&gt;&#x60;) (optional)
     * @param  bool $pause Whether to pause the container before committing (optional, default to true)
     * @param  string $changes &#x60;Dockerfile&#x60; instructions to apply while committing (optional)
     * @param  \Piurafunk\Docker\Model\ContainerConfig $containerConfig The container configuration (optional)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Piurafunk\Docker\Model\IdResponse|\Piurafunk\Docker\Model\ErrorResponse|\Piurafunk\Docker\Model\ErrorResponse
     */
    public function imageCommit($container = null, $repo = null, $tag = null, $comment = null, $author = null, $pause = true, $changes = null, $containerConfig = null)
    {
        list($response) = $this->imageCommitWithHttpInfo($container, $repo, $tag, $comment, $author, $pause, $changes, $containerConfig);
        return $response;
    }

    /**
     * Operation imageCommitWithHttpInfo
     *
     * Create a new image from a container
     *
     * @param  string $container The ID or name of the container to commit (optional)
     * @param  string $repo Repository name for the created image (optional)
     * @param  string $tag Tag name for the create image (optional)
     * @param  string $comment Commit message (optional)
     * @param  string $author Author of the image (e.g., &#x60;John Hannibal Smith &lt;hannibal@a-team.com&gt;&#x60;) (optional)
     * @param  bool $pause Whether to pause the container before committing (optional, default to true)
     * @param  string $changes &#x60;Dockerfile&#x60; instructions to apply while committing (optional)
     * @param  \Piurafunk\Docker\Model\ContainerConfig $containerConfig The container configuration (optional)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Piurafunk\Docker\Model\IdResponse|\Piurafunk\Docker\Model\ErrorResponse|\Piurafunk\Docker\Model\ErrorResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function imageCommitWithHttpInfo($container = null, $repo = null, $tag = null, $comment = null, $author = null, $pause = true, $changes = null, $containerConfig = null)
    {
        $request = $this->imageCommitRequest($container, $repo, $tag, $comment, $author, $pause, $changes, $containerConfig);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            switch($statusCode) {
                case 201:
                    if ('\Piurafunk\Docker\Model\IdResponse' === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\Piurafunk\Docker\Model\IdResponse', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 404:
                    if ('\Piurafunk\Docker\Model\ErrorResponse' === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\Piurafunk\Docker\Model\ErrorResponse', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 500:
                    if ('\Piurafunk\Docker\Model\ErrorResponse' === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\Piurafunk\Docker\Model\ErrorResponse', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            $returnType = '\Piurafunk\Docker\Model\IdResponse';
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = (string) $responseBody;
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\IdResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation imageCommitAsync
     *
     * Create a new image from a container
     *
     * @param  string $container The ID or name of the container to commit (optional)
     * @param  string $repo Repository name for the created image (optional)
     * @param  string $tag Tag name for the create image (optional)
     * @param  string $comment Commit message (optional)
     * @param  string $author Author of the image (e.g., &#x60;John Hannibal Smith &lt;hannibal@a-team.com&gt;&#x60;) (optional)
     * @param  bool $pause Whether to pause the container before committing (optional, default to true)
     * @param  string $changes &#x60;Dockerfile&#x60; instructions to apply while committing (optional)
     * @param  \Piurafunk\Docker\Model\ContainerConfig $containerConfig The container configuration (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function imageCommitAsync($container = null, $repo = null, $tag = null, $comment = null, $author = null, $pause = true, $changes = null, $containerConfig = null)
    {
        return $this->imageCommitAsyncWithHttpInfo($container, $repo, $tag, $comment, $author, $pause, $changes, $containerConfig)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation imageCommitAsyncWithHttpInfo
     *
     * Create a new image from a container
     *
     * @param  string $container The ID or name of the container to commit (optional)
     * @param  string $repo Repository name for the created image (optional)
     * @param  string $tag Tag name for the create image (optional)
     * @param  string $comment Commit message (optional)
     * @param  string $author Author of the image (e.g., &#x60;John Hannibal Smith &lt;hannibal@a-team.com&gt;&#x60;) (optional)
     * @param  bool $pause Whether to pause the container before committing (optional, default to true)
     * @param  string $changes &#x60;Dockerfile&#x60; instructions to apply while committing (optional)
     * @param  \Piurafunk\Docker\Model\ContainerConfig $containerConfig The container configuration (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function imageCommitAsyncWithHttpInfo($container = null, $repo = null, $tag = null, $comment = null, $author = null, $pause = true, $changes = null, $containerConfig = null)
    {
        $returnType = '\Piurafunk\Docker\Model\IdResponse';
        $request = $this->imageCommitRequest($container, $repo, $tag, $comment, $author, $pause, $changes, $containerConfig);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'imageCommit'
     *
     * @param  string $container The ID or name of the container to commit (optional)
     * @param  string $repo Repository name for the created image (optional)
     * @param  string $tag Tag name for the create image (optional)
     * @param  string $comment Commit message (optional)
     * @param  string $author Author of the image (e.g., &#x60;John Hannibal Smith &lt;hannibal@a-team.com&gt;&#x60;) (optional)
     * @param  bool $pause Whether to pause the container before committing (optional, default to true)
     * @param  string $changes &#x60;Dockerfile&#x60; instructions to apply while committing (optional)
     * @param  \Piurafunk\Docker\Model\ContainerConfig $containerConfig The container configuration (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function imageCommitRequest($container = null, $repo = null, $tag = null, $comment = null, $author = null, $pause = true, $changes = null, $containerConfig = null)
    {

        $resourcePath = '/commit';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($container !== null) {
            $queryParams['container'] = ObjectSerializer::toQueryValue($container);
        }
        // query params
        if ($repo !== null) {
            $queryParams['repo'] = ObjectSerializer::toQueryValue($repo);
        }
        // query params
        if ($tag !== null) {
            $queryParams['tag'] = ObjectSerializer::toQueryValue($tag);
        }
        // query params
        if ($comment !== null) {
            $queryParams['comment'] = ObjectSerializer::toQueryValue($comment);
        }
        // query params
        if ($author !== null) {
            $queryParams['author'] = ObjectSerializer::toQueryValue($author);
        }
        // query params
        if ($pause !== null) {
            $queryParams['pause'] = ObjectSerializer::toQueryValue($pause);
        }
        // query params
        if ($changes !== null) {
            $queryParams['changes'] = ObjectSerializer::toQueryValue($changes);
        }


        // body params
        $_tempBody = null;
        if (isset($containerConfig)) {
            $_tempBody = $containerConfig;
        }

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['application/json']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            if ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($_tempBody));
            } else {
                $httpBody = $_tempBody;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation imageCreate
     *
     * Create an image
     *
     * @param  string $fromImage Name of the image to pull. The name may include a tag or digest. This parameter may only be used when pulling an image. The pull is cancelled if the HTTP connection is closed. (optional)
     * @param  string $fromSrc Source to import. The value may be a URL from which the image can be retrieved or &#x60;-&#x60; to read the image from the request body. This parameter may only be used when importing an image. (optional)
     * @param  string $repo Repository name given to an image when it is imported. The repo may include a tag. This parameter may only be used when importing an image. (optional)
     * @param  string $tag Tag or digest. If empty when pulling an image, this causes all tags for the given image to be pulled. (optional)
     * @param  string $message Set commit message for imported image. (optional)
     * @param  string $xRegistryAuth A base64-encoded auth configuration. [See the authentication section for details.](#section/Authentication) (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $inputImage Image content if the value &#x60;-&#x60; has been specified in fromSrc query parameter (optional)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return void
     */
    public function imageCreate($fromImage = null, $fromSrc = null, $repo = null, $tag = null, $message = null, $xRegistryAuth = null, $platform = null, $inputImage = null)
    {
        $this->imageCreateWithHttpInfo($fromImage, $fromSrc, $repo, $tag, $message, $xRegistryAuth, $platform, $inputImage);
    }

    /**
     * Operation imageCreateWithHttpInfo
     *
     * Create an image
     *
     * @param  string $fromImage Name of the image to pull. The name may include a tag or digest. This parameter may only be used when pulling an image. The pull is cancelled if the HTTP connection is closed. (optional)
     * @param  string $fromSrc Source to import. The value may be a URL from which the image can be retrieved or &#x60;-&#x60; to read the image from the request body. This parameter may only be used when importing an image. (optional)
     * @param  string $repo Repository name given to an image when it is imported. The repo may include a tag. This parameter may only be used when importing an image. (optional)
     * @param  string $tag Tag or digest. If empty when pulling an image, this causes all tags for the given image to be pulled. (optional)
     * @param  string $message Set commit message for imported image. (optional)
     * @param  string $xRegistryAuth A base64-encoded auth configuration. [See the authentication section for details.](#section/Authentication) (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $inputImage Image content if the value &#x60;-&#x60; has been specified in fromSrc query parameter (optional)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function imageCreateWithHttpInfo($fromImage = null, $fromSrc = null, $repo = null, $tag = null, $message = null, $xRegistryAuth = null, $platform = null, $inputImage = null)
    {
        $request = $this->imageCreateRequest($fromImage, $fromSrc, $repo, $tag, $message, $xRegistryAuth, $platform, $inputImage);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 404:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation imageCreateAsync
     *
     * Create an image
     *
     * @param  string $fromImage Name of the image to pull. The name may include a tag or digest. This parameter may only be used when pulling an image. The pull is cancelled if the HTTP connection is closed. (optional)
     * @param  string $fromSrc Source to import. The value may be a URL from which the image can be retrieved or &#x60;-&#x60; to read the image from the request body. This parameter may only be used when importing an image. (optional)
     * @param  string $repo Repository name given to an image when it is imported. The repo may include a tag. This parameter may only be used when importing an image. (optional)
     * @param  string $tag Tag or digest. If empty when pulling an image, this causes all tags for the given image to be pulled. (optional)
     * @param  string $message Set commit message for imported image. (optional)
     * @param  string $xRegistryAuth A base64-encoded auth configuration. [See the authentication section for details.](#section/Authentication) (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $inputImage Image content if the value &#x60;-&#x60; has been specified in fromSrc query parameter (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function imageCreateAsync($fromImage = null, $fromSrc = null, $repo = null, $tag = null, $message = null, $xRegistryAuth = null, $platform = null, $inputImage = null)
    {
        return $this->imageCreateAsyncWithHttpInfo($fromImage, $fromSrc, $repo, $tag, $message, $xRegistryAuth, $platform, $inputImage)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation imageCreateAsyncWithHttpInfo
     *
     * Create an image
     *
     * @param  string $fromImage Name of the image to pull. The name may include a tag or digest. This parameter may only be used when pulling an image. The pull is cancelled if the HTTP connection is closed. (optional)
     * @param  string $fromSrc Source to import. The value may be a URL from which the image can be retrieved or &#x60;-&#x60; to read the image from the request body. This parameter may only be used when importing an image. (optional)
     * @param  string $repo Repository name given to an image when it is imported. The repo may include a tag. This parameter may only be used when importing an image. (optional)
     * @param  string $tag Tag or digest. If empty when pulling an image, this causes all tags for the given image to be pulled. (optional)
     * @param  string $message Set commit message for imported image. (optional)
     * @param  string $xRegistryAuth A base64-encoded auth configuration. [See the authentication section for details.](#section/Authentication) (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $inputImage Image content if the value &#x60;-&#x60; has been specified in fromSrc query parameter (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function imageCreateAsyncWithHttpInfo($fromImage = null, $fromSrc = null, $repo = null, $tag = null, $message = null, $xRegistryAuth = null, $platform = null, $inputImage = null)
    {
        $returnType = '';
        $request = $this->imageCreateRequest($fromImage, $fromSrc, $repo, $tag, $message, $xRegistryAuth, $platform, $inputImage);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'imageCreate'
     *
     * @param  string $fromImage Name of the image to pull. The name may include a tag or digest. This parameter may only be used when pulling an image. The pull is cancelled if the HTTP connection is closed. (optional)
     * @param  string $fromSrc Source to import. The value may be a URL from which the image can be retrieved or &#x60;-&#x60; to read the image from the request body. This parameter may only be used when importing an image. (optional)
     * @param  string $repo Repository name given to an image when it is imported. The repo may include a tag. This parameter may only be used when importing an image. (optional)
     * @param  string $tag Tag or digest. If empty when pulling an image, this causes all tags for the given image to be pulled. (optional)
     * @param  string $message Set commit message for imported image. (optional)
     * @param  string $xRegistryAuth A base64-encoded auth configuration. [See the authentication section for details.](#section/Authentication) (optional)
     * @param  string $platform Platform in the format os[/arch[/variant]] (optional)
     * @param  string $inputImage Image content if the value &#x60;-&#x60; has been specified in fromSrc query parameter (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function imageCreateRequest($fromImage = null, $fromSrc = null, $repo = null, $tag = null, $message = null, $xRegistryAuth = null, $platform = null, $inputImage = null)
    {

        $resourcePath = '/images/create';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($fromImage !== null) {
            $queryParams['fromImage'] = ObjectSerializer::toQueryValue($fromImage);
        }
        // query params
        if ($fromSrc !== null) {
            $queryParams['fromSrc'] = ObjectSerializer::toQueryValue($fromSrc);
        }
        // query params
        if ($repo !== null) {
            $queryParams['repo'] = ObjectSerializer::toQueryValue($repo);
        }
        // query params
        if ($tag !== null) {
            $queryParams['tag'] = ObjectSerializer::toQueryValue($tag);
        }
        // query params
        if ($message !== null) {
            $queryParams['message'] = ObjectSerializer::toQueryValue($message);
        }
        // query params
        if ($platform !== null) {
            $queryParams['platform'] = ObjectSerializer::toQueryValue($platform);
        }
        // header params
        if ($xRegistryAuth !== null) {
            $headerParams['X-Registry-Auth'] = ObjectSerializer::toHeaderValue($xRegistryAuth);
        }


        // body params
        $_tempBody = null;
        if (isset($inputImage)) {
            $_tempBody = $inputImage;
        }

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['text/plain', 'application/octet-stream']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            if ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($_tempBody));
            } else {
                $httpBody = $_tempBody;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation imageDelete
     *
     * Remove an image
     *
     * @param  string $name Image name or ID (required)
     * @param  bool $force Remove the image even if it is being used by stopped containers or has other tags (optional, default to false)
     * @param  bool $noprune Do not delete untagged parent images (optional, default to false)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Piurafunk\Docker\Model\ImageDeleteResponseItem[]|\Piurafunk\Docker\Model\ErrorResponse|\Piurafunk\Docker\Model\ErrorResponse|\Piurafunk\Docker\Model\ErrorResponse
     */
    public function imageDelete($name, $force = false, $noprune = false)
    {
        list($response) = $this->imageDeleteWithHttpInfo($name, $force, $noprune);
        return $response;
    }

    /**
     * Operation imageDeleteWithHttpInfo
     *
     * Remove an image
     *
     * @param  string $name Image name or ID (required)
     * @param  bool $force Remove the image even if it is being used by stopped containers or has other tags (optional, default to false)
     * @param  bool $noprune Do not delete untagged parent images (optional, default to false)
     *
     * @throws \Piurafunk\Docker\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Piurafunk\Docker\Model\ImageDeleteResponseItem[]|\Piurafunk\Docker\Model\ErrorResponse|\Piurafunk\Docker\Model\ErrorResponse|\Piurafunk\Docker\Model\ErrorResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function imageDeleteWithHttpInfo($name, $force = false, $noprune = false)
    {
        $request = $this->imageDeleteRequest($name, $force, $noprune);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            switch($statusCode) {
                case 200:
                    if ('\Piurafunk\Docker\Model\ImageDeleteResponseItem[]' === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\Piurafunk\Docker\Model\ImageDeleteResponseItem[]', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 404:
                    if ('\Piurafunk\Docker\Model\ErrorResponse' === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\Piurafunk\Docker\Model\ErrorResponse', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 409:
                    if ('\Piurafunk\Docker\Model\ErrorResponse' === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\Piurafunk\Docker\Model\ErrorResponse', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                case 500:
                    if ('\Piurafunk\Docker\Model\ErrorResponse' === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, '\Piurafunk\Docker\Model\ErrorResponse', []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
            }

            $returnType = '\Piurafunk\Docker\Model\ImageDeleteResponseItem[]';
            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = (string) $responseBody;
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ImageDeleteResponseItem[]',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 409:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Piurafunk\Docker\Model\ErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation imageDeleteAsync
     *
     * Remove an image
     *
     * @param  string $name Image name or ID (required)
     * @param  bool $force Remove the image even if it is being used by stopped containers or has other tags (optional, default to false)
     * @param  bool $noprune Do not delete untagged parent images (optional, default to false)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function imageDeleteAsync($name, $force = false, $noprune = false)
    {
        return $this->imageDeleteAsyncWithHttpInfo($name, $force, $noprune)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation imageDeleteAsyncWithHttpInfo
     *
     * Remove an image
     *
     * @param  string $name Image name or ID (required)
     * @param  bool $force Remove the image even if it is being used by stopped containers or has other tags (optional, default to false)
     * @param  bool $noprune Do not delete untagged parent images (optional, default to false)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function imageDeleteAsyncWithHttpInfo($name, $force = false, $noprune = false)
    {
        $returnType = '\Piurafunk\Docker\Model\ImageDeleteResponseItem[]';
        $request = $this->imageDeleteRequest($name, $force, $noprune);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = (string) $responseBody;
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'imageDelete'
     *
[...]
